%section.about{name: :about}
  .wrapper
    .title
      Чем Kaleva отличается
      %br
      от 88 производителей окон


    .triggers.clearfix
      .trigger
        .icon
          %img{src: '/images/factory_icon.png'}
        .trigger-title
          Производство
          %br
          полного цикла
        .trigger-content
          Все наши окна собираются на одном
          заводе, расположенном в 5 км от
          Москвы. Это гарантирует отличное
          качество каждого окна.
      .trigger
        .icon
          %img{src: '/images/window_icon.png'}
        .trigger-title
          500 окон
          %br
          в день
        .trigger-content
          Такая производственная мощность
          позволяет выполнять заказы в течение
          5 дней даже в при максимальной
          загруженности.
      .trigger.last
        .icon
          %img{src: '/images/clock_icon.png'}
        .trigger-title
          5 дней на
          %br
          выполнение заказа
        .trigger-content
          От подписания договора, до установки
          окон в вашей квартире проходит
          не более пяти суток.
