%section.benefits-section{name: :benefits}
  .wrapper
    .benefits
      .title
        Преимущества
        %br
        окон Kaleva

      .vertical-triggers
        .vertical-trigger
          .trigger-title
            Срок службы 80 лет
          .trigger-content
            Гарантированный срок службы стеклопакетов от
            компании Калева составляет 80 лет.
            Это проверено и доказано.

        .vertical-trigger
          .trigger-title
            Теплоизоляция
          .trigger-content
            Окна Калева в холодные дни сохраняют тепло дома,
            а летом защищают вас от уличной жары.

        .vertical-trigger
          .trigger-title
            Шумоизоляция
          .trigger-content
            Закрытые окна Калева надежно отделяют вас от звуков
            внешнего мира, шума автомобилей, криков играющих
            детей и ночных «концертов»