%section
  .wrapper
    .title
      Почему с нами приятно иметь дело?

    .triggers.clearfix
      .trigger
        .icon
          %img{src: '/images/alarm_icon.png'}
        .trigger-title
          Мы вынесем
          %br
          весь мусор
        .trigger-content
          После окончания работ по монтажу, весь
          строительный мусор будет тщательно
          собран в плотные мусорные пакеты
          и вынесен на лестничную площадку
      .trigger
        .icon
          %img{src: '/images/credit_card_icon.png'}
        .trigger-title
          Удобные способы
          %br
          оплаты
        .trigger-content
          Мы принимаем к оплате карты Visa,
          MasterCard и наличные деньги.
      .trigger.last
        .icon
          %img{src: '/images/percent_icon.png'}
        .trigger-title
          Безпроцентная
          %br
          Рассрочка
        .trigger-content
          Наша беспроцентная рассрочка позволит
          вам приобрести окна уже сегодня.
          Первый взнос - 0 рублей.