%section.contacts
  .wrapper
    .title
      Центральные офисы продаж в Москве


    .offices.clearfix
      .office
        .name
          «Аэропорт»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Сокол
            %span.distance 428 м

          .metro
            Аэропорт
            %span.distance 1033 м

          .metro
            Войковская
            %span.distance 1993 м


        .phone
          Телефон
          .number
            (495) 540-58-46

        .address
          Адрес
          .street
            ул. Старослободская, дом 3


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00






      .office
        .name
          «Аэропорт»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Сокол
            %span.distance 428 м

          .metro
            Аэропорт
            %span.distance 1033 м

          .metro
            Войковская
            %span.distance 1993 м


        .phone
          Телефон
          .number
            (495) 540-58-46

        .address
          Адрес
          .street
            ул. Старослободская, дом 3


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00




      .office
        .name
          «Аэропорт»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Сокол
            %span.distance 428 м

          .metro
            Аэропорт
            %span.distance 1033 м

          .metro
            Войковская
            %span.distance 1993 м


        .phone
          Телефон
          .number
            (495) 540-58-46

        .address
          Адрес
          .street
            ул. Старослободская, дом 3


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00



      .office.bottom
        .name
          «Аэропорт»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Сокол
            %span.distance 428 м

          .metro
            Аэропорт
            %span.distance 1033 м

          .metro
            Войковская
            %span.distance 1993 м


        .phone
          Телефон
          .number
            (495) 540-58-46

        .address
          Адрес
          .street
            ул. Старослободская, дом 3


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00




      .office.bottom
        .name
          «Аэропорт»
        .metro-title Ближайшие станции метро
        .metro-stations
          .metro
            Сокол
            %span.distance 428 м

          .metro
            Аэропорт
            %span.distance 1033 м

          .metro
            Войковская
            %span.distance 1993 м


        .phone
          Телефон
          .number
            (495) 540-58-46

        .address
          Адрес
          .street
            ул. Старослободская, дом 3


        .rejim
          Режим работы:

          .dates
            В будни: 10.00-19.00
            %br
            В выходные: 10.00-16.00




