%section.blue-form
  .wrapper#form
    .title
      Вызовите к себе домой
      %br
      менеджера-консультанта

    .form
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button.button.send-order
        Узнать цену