%section.models
  .wrapper#models
    .models-title
      Модельный ряд:
    .links
      %a.active{href: '#', rel: :vita} Vita,
      = ' &nbsp; '
      %a{href: '#', rel: :design} Design,
      = ' &nbsp; '
      %a{href: '#', rel: :deco} Deco,
      = ' &nbsp; '
      %a{href: '#', rel: :titan} Titan Plus




    .model.vita{anchor: :vita}
      .content
        .model-name
          Создай уют у себя дома

        .model-bullets
          Дополнительное светопропускание: + 12,2% света
          %br
          Надёжность открывания: 80 000 открываний
          %br
          4-х камерный профиль рамы
          %br
          Оптимальный выбор для уюта в Вашем доме.

        .button.get-price
          Узнать цену



    .model.deco{anchor: :deco}
      .content
        .model-name
          Безупречный стиль ваших окон

        .model-bullets
          Дополнительное светопропускание: + 23,4% света
          %br
          Надёжность открывания: 320 000 открываний
          %br
          5-х камерный профиль рамы
          %br
          Безупречный выбор элегантных окон для Вас.

        .button.get-price
          Узнать цену


    .model.design{anchor: :design}
      .content
        .model-name
          Индивидуальное решение для Вашего дома

        .model-bullets
          Дополнительное светопропускание: + 8,9% света
          %br
          Надёжность открывания: 80 000 открываний
          %br
          4-х камерный профиль рамы
          %br
          Широкие дизайнерские возможности для создания индивидуального стиля

        .button.get-price
          Узнать цену


    .model.titan{anchor: :titan}
      .content
        .model-name
          Окна с характером

        .model-bullets
          Дополнительное светопропускание: + 12% света
          %br
          Надёжность открывания: 80 000 открываний
          %br
          4-х камерный профиль рамы
          %br
          Жалюзи, встроенные в конструкцию окна


        .button.get-price
          Узнать цену