%section.models
  .wrapper
    .models-title
      Модельный ряд:
    .links
      %a{href: '#'} Vita,
      = ' &nbsp; '
      %a.active{href: '#'} Design,
      = ' &nbsp; '
      %a{href: '#'} Deco,
      = ' &nbsp; '
      %a{href: '#'} Titan Plus



    .model.deco
      .content
        .model-name
          Идеальный вариант
          для светлой квартиры

        .model-bullets
          Дополнительное светопропускание: +23,4% света
          %br
          Надежность открывания: 320 000 открываний
          %br
          5-ти камерный профиль рамы
          %br
          Идеальный вариант для светлой квартиры

        .button
          Узнать цену