%section.reasons{anchor: :reasons}
  .wrapper
    .title
      Три причины вызвать нашего
      %br
      менеджера-консультанта


    .triggers.clearfix
      .trigger
        .icon
          %img{src: '/images/sandglass_icon.png'}
        .trigger-title
          Экономия
          %br
          времени
        .trigger-content
          Менеджер-консультант ответит на все
          ваши вопросы, в поисках ответа на
          которые вы бы потратили не один час,
          займись вы этим самостоятельно.
      .trigger
        .icon
          %img{src: '/images/calculator_icon.png'}
        .trigger-title
          Конечная
          %br
          стоимость
        .trigger-content
          Только менеджер-консультант сможет
          назвать вам точную стоимость окна
          и работ по монтажу, которые будут
          прописаны в договоре.
      .trigger.last
        .icon
          %img{src: '/images/tumblr_icon.png'}
        .trigger-title
          Подбор
          %br
          конфигурации
        .trigger-content
          Профессиональный
          менеджер-консультант подберет вам
          модель и конфигурацию окна, исходя
          из вашего бюджета.